.about-us {
    margin: 120px auto;
    display: flex;
    align-items: center;
}

.about-us__img {
    flex-basis: 43%;
    margin-right: 95px;
    position: relative;
}

.about-us__img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    background: linear-gradient(to left, rgba(0, 80, 131, .39), rgba(34, 185, 119, .39));
    z-index: 1;
}

.about-us__img img {
    width: 100%;
    height: auto;
    display: block;
}

.about-us__text {
    flex-basis: calc(100% - 43% - 95px);
}

.about-us__text p {
    font-size: 18px;
    line-height: 30px;
    margin: 25px 0;
    color: #1b1b1b;
    opacity: .7;
}

.about-us__text .about-us__title {
    font-size: 36px;
    line-height: 42px;
    color: #1b1b1b;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 35px;
}

.about-us__button {
    margin-top: 35px;
}

@media (max-width: 980px) {
    .about-us {
        margin: 60px auto;
    }

    .about-us__img {
        margin-right: 30px;
    }

    .about-us__text {
        flex-basis: calc(100% - 43% - 30px);
    }
}

@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
    }

    .about-us__img {
        margin: 0 0 20px 0;
        flex-basis: auto;
    }

    .about-us__text {
        flex-basis: auto;
    }
}