.button a {
    text-decoration: none;
    color: #fff;
    font-style: 16px;
    line-height: 30px;
    font-weight: 700;
    background-color: #07b569;
    display: inline-block;
    padding: 8px 31px;
}

.button a:hover {
    background-color: #019c58;
}