.header {
    background: url(../../img/img-1.jpg) center no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    background: linear-gradient(to left, rgba(0, 80, 131, .39), rgba(34, 185, 119, .39));
    z-index: 1;
}

.header__wrap {
    position: relative;
    z-index: 2;
    height: 100vh;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.header__logo p {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

.header h1 {
    text-align: center;
    font-size: 54px;
    line-height: 60px;
    color: #fff;
    font-weight: 400;
    max-width: 970px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0 15px;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}

.header h1 span {
    font-weight: 700;
}

@media (max-width: 980px) {
    .header {
        margin-bottom: 60px;
    }
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 34px;
        line-height: 40px;
    }
}

@media (max-height: 480px) {
    .header__wrap {
        height: auto;
    }

    .header h1 {
        position: static;
        left: auto;
        top: auto;
        transform: translate(0, 0);
        padding-top: 24px;
        padding-bottom: 150px;
    }
}